*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px; 
    background-attachment: fixed;
}
@media screen and (max-width: 670px){
    header{
        min-height: 380px;
    }
}
.no-shadows{
    box-shadow: none;
}
p.about{
    margin-top: 10px;
    margin-bottom: 10px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }